<div class="intro" ng-hide="thanks">
  <div class="row start-head">
   <h1> <strong>AMOR EN EL FIN DEL MUNDO!</strong> </h1>
   <h2> Te regalamos nuestro disco!</h2>
  </div>
  <div class="row start-now">
    <h3> <strong><strong>Cómo?</strong> </strong>
    </h3>
    <h3>Desde este wifi vos podes hacerlo! </h3>
    <a class="start-button" href="/disco/full/PLACARD - Amor en el Fin del Mundo.zip" ng-click="showList()">Bajá el disco !</a>
     <a class="start-button" href="#/tracks" >Escuchá Los Temas</a>
  </div>
</div>
<div  class="row start-head thanks" ng-show="thanks">
  <h1> Muchas Gracias! </h1>
  <h2> Ahora disfrutá de toda la musica !</h2>
  <hr/>
  <div class="row start-now">
     <img src="/images/us.jpg"/>
  </div>
</div>