!!! 5
html
  head
    title Bajate el disco de placard
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(href='/css/gumby.css', rel='stylesheet', type='text/css')
    link(href='/css/core/style.css', rel='stylesheet', type='text/css')
    link(href='/css/core/animations.css', rel='stylesheet', type='text/css')
    link(href='/owl-carousel/owl.theme.css', rel='stylesheet', type='text/css')
    link(href='/owl-carousel/owl.carousel.css', rel='stylesheet', type='text/css')

    block meta
    block styles
    script(src='/js/libs/angular/1.1.5/angular.min.js')
    script(src='/js/libs/moment/moment.min.js')
    script(src='/js/libs/moment/moment-es.js')
    script(src='/js/libs/numberToText-es.js')
    script(src='/js/libs/jquery-1.9.1.min.js')
    script(src='/owl-carousel/owl.carousel.js')

    meta(charset='utf-8')
  body
    block content
  block scripts
